// Mariad Pro

@font-face {
  font-family: 'fonte2a5e608ba42366402cbf775c06f3f15';
    
    src:    url('https://nomail.com.ua/files/eot/e2a5e608ba42366402cbf775c06f3f15.eot?#iefix') format('embedded-opentype'),
            url('https://nomail.com.ua/files/woff/e2a5e608ba42366402cbf775c06f3f15.woff') format('woff'),
            url('https://nomail.com.ua/files/woff2/e2a5e608ba42366402cbf775c06f3f15.woff2') format('woff2');
}

  // ProximaNova Black

  @font-face {
    font-family: 'fontcb6ae91840aff9a39c833e2e21fd8e7e';
        
        src:    url('https://nomail.com.ua/files/eot/cb6ae91840aff9a39c833e2e21fd8e7e.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/cb6ae91840aff9a39c833e2e21fd8e7e.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/cb6ae91840aff9a39c833e2e21fd8e7e.woff2') format('woff2');
    }

// ProximaNova Regular

@font-face {
  font-family: 'fontdc38e71c06219d82fe9ec4c3375e98af';
      
      src:    url('https://nomail.com.ua/files/eot/dc38e71c06219d82fe9ec4c3375e98af.eot?#iefix') format('embedded-opentype'),
              url('https://nomail.com.ua/files/woff/dc38e71c06219d82fe9ec4c3375e98af.woff') format('woff'),
              url('https://nomail.com.ua/files/woff2/dc38e71c06219d82fe9ec4c3375e98af.woff2') format('woff2');
  }

//Gotham Pro

@font-face {
  font-family: 'fontaafeb23794c0546aa78e6d11e49ef908';
      
      src:    url('https://nomail.com.ua/files/eot/aafeb23794c0546aa78e6d11e49ef908.eot?#iefix') format('embedded-opentype'),
              url('https://nomail.com.ua/files/woff/aafeb23794c0546aa78e6d11e49ef908.woff') format('woff'),
              url('https://nomail.com.ua/files/woff2/aafeb23794c0546aa78e6d11e49ef908.woff2') format('woff2');
  }