$grid-width-primary: 100%;
$grid-width-secondary: 1170px;
$font-family-blackNova: 'ProximaNova-Black', sans-serif;
$font-family-regNova: 'ProximaNova-RegularCondensed', sans-serif;
$font-family-mariad: 'MyriadPro-Cond', sans-serif;
$font-family-gotham: 'GothamPro', sans-serif;